body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9ebee;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select, button {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

input:focus, select:focus, button:focus {
  outline: none;
  border-color: #2e86cf;
}

button {
  background-color: #41a0ee;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 1rem;
}

button:hover {
  background-color: #0b81e2;
}

.expense-list {
  margin-top: 20px;
}

.expense-item {
  background: #f9f9f9;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s;
}

.expense-item:hover {
  transform: scale(1.02);
}

.expense-details {
  display: flex;
  flex-direction: column;
}

.expense-title {
  font-size: 18px;
  font-weight: bold;
}

.expense-category {
  font-size: 14px;
  color: #888;
}

.expense-amount {
  font-size: 16px;
  color: #333;
}

.expense-date {
  font-size: 14px;
  color: #666;
}

.expense-actions button {
  background: none;
  border: none;
  color: #41a0ee;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.expense-actions button:hover {
  color: #0b81e2;
}

.summary {
  margin-top: 20px;
  padding: 20px;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-amount {
  font-size: 18px;
  font-weight: bold;
}

.category-summary {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category-summary-item {
  font-size: 14px;
  color: #666;
}
